* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/*  Header CSS starts here */
.header{
  background-color: #26354a;
}
.header h1{
  display: inline-block;
  font-size: 48px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: aqua;
  margin-top: 15px;
  margin-bottom: 15px;

}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float:right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul{
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 20px;
   
}

/* CSS for giving the navigation menu hovering effects and border */
a{
  color: aqua;
  border: 2px solid aqua;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  
}
a:hover, a:active{
  background-color: aqua;
  color: #26354a;
}

/* css for the banner image below navigation */

.hero-banner{
  height: 600px;
  width: 100%;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}
.hero-banner h2{
  position: absolute;
  right: 30px;
  bottom: 15px;
  background-color: cyan;
}

/* CSS for the main grid / page-wrapper */
.page-wrapper {
  margin: 0px 5%;
  padding-top: 20px;
  border: 5px solid rgb(111,41,97);
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: 1fr 3fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  
}

#about {
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: 5px solid red;
  display: flex;
  justify-content: end;
 
}

#work {
  grid-row-start: 2;
  grid-row-end: 3;
  border-right: 5px solid red;
}

#contact {                                                                                                                                                                                                                                                                                                                                      
  grid-row-start: 3;
  grid-row-end: 4;
  border-right: 5px solid red;
}

p{
  grid-column-start: 2;
  grid-column-end: 3;
  
}

#projects {
  /* margin: 0px 5%;  */
  border: 5px solid rgb(44, 32, 223);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 200px);
  grid-template-areas: 
  "surfreport surfreport"
  "surfreport surfreport"
  "surfreport surfreport"
  "ledwall calculator"
  "pastelpuzzels runbuddy";
  }

.surfReport {
  grid-area: surfreport;
  background-image: url("../images/02-portfolio-4.jpg");
  
}

.ledWall {
  grid-area: ledwall;
  background-image: url("../images/02-portfolio-1.jpg");
}

.calculator {
  grid-area: calculator;
  background-image: url("../images/02-portfolio-2.jpg");
}

.pastelPuzzels {
  grid-area: pastelpuzzels;
  background-image: url("../images/02-portfolio-3.jpg");
}

.runBuddy {
  grid-area: runbuddy;
  background-image: url("../images/02-run-buddy.jpg");
}


 .surfReport, .runBuddy, .ledWall, .calculator, .pastelPuzzels {
  /* width: 100%;
  height: 100%; 
  object-fit: cover; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
 }

 .surfReport:hover{
  /* border-color: black;
  border: 10px;
  border-width: 20px; */
  /* background: #e1e1e1; */
   border: 1px solid #f30606
 }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

}

p {
    margin: 0;
    
}
